services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: panudet
      POSTGRES_PASSWORD: panudet
      POSTGRES_DB: rust_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: